{% extends 'base.html' %}
{% load static %}
{% block title %} Admin- Show Room {% endblock %}
{% block sub %} Room List {% endblock %}

{% block body %}
<br/>
<br/>
<div class="container" style="outline-style: auto;
    outline-color: grey;
    background-attachment: fixed;">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Sr. No.</th>
            <th>Fullname</th>
            <th>Room</th>
            <th>Adults</th>
            <th>Children</th>
            <th>Check-in</th>
            <th>Check-out</th>
            <th>Action</th>
            <th>Pay Bill</th>
        </tr>
        </thead>
        <tbody>

        {% for room in rooms %}
        <tr>
            <td> {{forloop.counter}}</td>
            <td> {{room.user.first_name}} {{room.user.last_name}}</td>
            <td> {{room.room.name}}</td>
            <td> {{room.number_adults}}</td>
            <td> {{room.number_children}}</td>
            <td> {{room.arival_date}}</td>
            <td>{{room.departure_date}}</td>
            <td><a href="{% url 'admin_booking_room_delete' room.id %}" class="btn btn-danger"
                   onclick="confirm('Are you sure?')">
                Delete
            </a>
            </td>
            <td>
                <form action="{% url 'total_bill' room.id %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" id="pay" value="{{ room.id }}" name="bill">
                    <button type="submit" class="btn btn-danger">Pay Bill</button>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>Sr. No.</th>
            <th>Fullname</th>
            <th>Room</th>
            <th>Adults</th>
            <th>Children</th>
            <th>Check-in</th>
            <th>Check-out</th>
            <th>Action</th>
            <th>Pay Bill</th>
        </tr>
        </tfoot>
    </table>
</div>

<br/>
{% endblock %}