{% extends 'base.html' %}
{% load static %}

<body>
{% block sub %}

{% endblock %}

{% block body %}
{% block sub_body %}
<div class="container margin_60_35">
    <h1 class="main_title"><em></em>Welcome to Recom <span>Hotel and Bed&amp;Breakfast</span></h1>
    <p class="lead styled">
        Usu habeo equidem sanctus no. Suas summo id sed, erat erant oporteat cu pri. In eum omnes molestie. Sed ad debet
        scaevola, ne mel lorem legendos. Unum etiam cum te, an elit assueverit vix, falli aliquam complectitur ex ius.
    </p>
    <div class="row">
        <div class="col-sm-6">
            <div class="mosaic_container">
                <img src="{% static 'img/mosaic_1.jpg' %}" alt="" class="img-responsive add_bottom_30"><span
                    class="caption_2">Nice Outdoor</span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="col-xs-12">
                <div class="mosaic_container">
                    <img src="{% static 'img/mosaic_2.jpg' %}" alt="" class="img-responsive add_bottom_30"><span
                        class="caption_2">Large Bedroom</span>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="mosaic_container">
                    <img src="{% static 'img/mosaic_3.jpg' %}" alt="" class="img-responsive add_bottom_30"><span
                        class="caption_2">Modern Bathroom</span>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="mosaic_container">
                    <img src="{% static 'img/mosaic_4.jpg' %}" alt="" class="img-responsive add_bottom_30"><span
                        class="caption_2">Wellness</span>
                </div>
            </div>
        </div>
    </div><!-- End row -->
</div><!-- End container -->

{% endblock %}

<div class="container" style="margin-top: 8%; width:100%" >
            <div class="theiaStickySidebar">
                <div class="box_style_1">
                    <div id="message-booking"></div>
                    <form method="post" action="{% url 'availble_list' %}" id="check_avail">
                        {% csrf_token %}
                        <input type="hidden" name="data" id="data">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>Arrival date</label>
                                    <input class="date-pick form-control" type="text" id="check_in" name="check_in"
                                           placeholder="Check in" data-date-format="M d D" readonly>
                                    <span class="input-icon"><i class="icon-calendar-7"></i></span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>Departure date</label>
                                    <input class="date-pick form-control" type="text" id="check_out" name="check_out"
                                           placeholder="Check out" data-date-format="M d D" readonly>
                                    <span class="input-icon"><i class="icon-calendar-7"></i></span>
                                </div>
                            </div>
                        </div><!-- End row -->
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <button type="submit" id="formBooking" value="Book now"
                                        class="btn_full"> Booking Now
                                </button>
                            </div>
                        </div>
                    </form>
                    <hr>
                    <div href="#0" class=" btn_outline"> or Contact us</div>
                    <a href="tel://yourNumber" id="phone_2"><i class="icon_set_1_icon-91"></i>Your Number</a>

                </div><!-- End box_style -->
            </div><!-- End theiaStickySidebar -->
        </div><!-- End col -->

{% for category in categories %}
<div class="container_styled_1">
    <div class="container margin_60">
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <figure class="room_pic"><a href="#"><img src="{% static 'img/room_home_1.jpg' %}" alt=""
                                                          class="img-responsive"></a><span class="wow zoomIn"
                                                                                           data-wow-delay="0.2s" style="width:35%;"><sup>$</sup>{{category.price_randian}}<small>Per night</small></span>
                </figure>
            </div>
            <div class="col-md-4 col-md-offset-1">
                <div class="room_desc_home">
                    <h3>{{category.name}}</h3>
                    <p>
                        {{category.description}}
                    </p>
                    <ul>
                        <li>
                            <div class="tooltip_styled tooltip-effect-4">
                                <span class="tooltip-item"><i class="icon_set_2_icon-104"></i></span>
                                <div class="tooltip-content">
                                    King size bed
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="tooltip_styled tooltip-effect-4">
                                <span class="tooltip-item"><i class="icon_set_2_icon-118"></i></span>
                                <div class="tooltip-content">
                                    Shower
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="tooltip_styled tooltip-effect-4">
                                <span class="tooltip-item"><i class="icon_set_2_icon-116"></i></span>
                                <div class="tooltip-content">
                                    Plasma TV
                                </div>
                            </div>
                        </li>
                    </ul>
                    <a href="{% url 'category_room_list' %}" class="btn_1_outline">Read more</a>
                </div><!-- End room_desc_home -->
            </div>
        </div><!-- End row -->
    </div><!-- End container -->
</div><!-- End container_styled_1 -->

{% endfor %}
<section class="promo_full">
    <div class="promo_full_wp">
        <div>
            <h3>What Clients say<span>Id tale utinam ius, an mei omnium recusabo iracundia.</span></h3>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="carousel_testimonials">
                            {% for c in comments %}
                            <div>
                                <div class="box_overlay">
                                    <div class="pic">
                                        <figure><img src="{% static 'img/testimonial_1.jpg' %}" alt=""
                                                     class="img-circle"></figure>
                                        <h4>{{c.user.first_name}} {{c.user.last_name}}<small>{{c.create_date}}</small></h4>
                                    </div>
                                    <div class="comment">
                                        {{ c.comment }}
                                         </div>
                                </div><!-- End box_overlay -->
                            </div>
                            {% endfor %}
                        </div><!-- End carousel_testimonials -->
                    </div><!-- End col-md-8 -->
                </div><!-- End row -->
            </div><!-- End container -->
        </div><!-- End promo_full_wp -->
    </div><!-- End promo_full -->
</section><!-- End section -->

{%endblock%}

<!-- SPECIFIC SCRIPTS -->
{% block scripts %}
<script>
  $('.carousel_in').owlCarousel({
    center: true,
    items:1,
    loop:true,
	 autoplay:true,
	 navText: [ '', '' ],
	addClassActive: true,
    margin:-1,
    responsive:{
        600:{
            items:1
        },
		 1000:{
            items:2,
			nav:true,
        }
    }
});

<script>

  $('.carousel_in').owlCarousel({
    center: true,
    items:1,
    loop:true,
	 autoplay:true,
	 navText: [ '', '' ],
	addClassActive: true,
    margin:5,
    responsive:{
        600:{
            items:1
        },
		 1000:{
            items:2,
			nav:true,
        }
    }
});






</script>
<script src="{% static 'js/theia-sticky-sidebar.js' %}"></script>
<script>
    jQuery('#sidebar').theiaStickySidebar({
      additionalMarginTop: 80
    });




</script>
<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/bootsrap_datepicker_func.js' %}"></script>

</script>

{% endblock %}
